:root {
  --cream: #F5E6CF;
  --white: #FEFEFE;
  --black: #303030;
  --blue: #3D6A7F;
  --yellow: #F3A508;
  --red: #9C221D;
  --main-font: 'Italianno', cursive;
  --second-font: 'Raleway', sans-serif;
  --laptop: 1366px;
  --mobile: 720px;
}
* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  background: 0 0;
}

body {
  font-family: var(--second-font);
}

header, main, footer {
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-font);
  font-weight: 100;
}
h1 {
  font-size: 80px;
}

h2 {
  font-size: 74px;
}

ul {
  padding: 0%;
}

a, address {
  text-decoration: none;
  font-family: var(--second-font);
  
}

.grid {
  height: 100%;
  width: 100%;
  max-width: 1900px;
  max-height: 1000px;
  display: grid;
  grid-template-columns: 5.5% 5.5% 22.5% 11% 5.5% 5.5% 11% 22.5%  5.5% 5.5%;
  grid-template-rows:10.5% 10.5% 10.5% 16.6% 16.6% 10.5% 10.5% 10.5%;
}

.skew {
  opacity: 0;
  animation: skew 2s;
  transform-origin: 0% 50%;
  animation-fill-mode: forwards;
}

@keyframes skew {
  0% {
    transform: translate3d(0px, 8vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 5deg);
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .center {
    height: auto;
  }

  header, main, footer {
    height: auto;
  }

  .grid {
    display: block;
  }

  h2 {
    font-size: 56px;
}
}

@media screen and (min-width: 1400px) {
  h2 {
    font-size: 106px;
  }
}
